:root{
  --butn-color: linear-gradient(135deg, #F7B733 0%, #F8982C 37.78%, #FC4A1A 100%);
  --butn-color-hover:  linear-gradient(68deg, #FC4A1A 100%, #F8982C 37.78%, #F7B733 0%);
  --bg-color: #f7f7f7;
  --bg-input: #e7e4e467;
  --text-title-color: #7C7C7C;
  --text-input-color: #ABABAB;
  --text-span-color: #F97423;

  --font-title-input: 'Roboto'; 
  --font-butn-span: 'Nunito Sans';
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

/* BootStrap */
.sub-title {
  color: var(--text-input-color);
}

.inpt {
  background: var(--bg-input);
}
.btn.btn-block.btn-color{
  margin-top: 2.43rem;
  width: 250px;
  height: 49px;
  background: var(--butn-color);
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 0;
}
.btn.btn-block.btn-color:hover {
  content: '';
  background: var(--butn-color-hover);
}

.btn.btn-block.btn-color{
  color: var(--bg-color);
  font: 600 1.2rem var(--font-butn-span);
  line-height: 29px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.new-user {
  color: var(--text-input-color);
}
.orange {
  color: var(--text-span-color);
}

.terms {
  color: var(--text-input-color);
}
/* Fim BootStrap */


/* darkmode */
.dark-mode:root {
  --bs-white: #2C2C2C;
  --btn-mode: #181818;
  --btn-mode-color: white;
  --btn-mode-hover: white;
  --btn-mode-color-hover: #181818;
  --bs-company-text: #E8E8E8;
  --bs-citacoes-name: #c6c6c6;
  --bs-company: rgba(0, 0, 0, 0.2);
  --bs-agency: rgba(0, 0, 0, 0.2);
  --bs-citacoes: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--bs-white);
  color: var(--bs-company-text);
}

.btn-mode {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: var(--btn-mode-color);
  border-radius: 999px;
  border: 1px solid #ccc;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
  cursor: pointer;
}

.btn-mode:hover {
  background-color: var(--btn-mode-hover);
  border-color: #2b2b2b;
  color: var(--btn-mode-color-hover);
  transition: .5s;
}