:root{
  --butn-color: linear-gradient(135deg, #F7B733 0%, #F8982C 37.78%, #FC4A1A 100%);
  --butn-color-hover:  linear-gradient(68deg, #FC4A1A 100%, #F8982C 37.78%, #F7B733 0%);
  --bg-color: #f7f7f7;
  --text-title-color: #7C7C7C;
  --text-input-color: #ABABAB;
  --text-span-color: #F97423;

  --font-title-input: 'Roboto'; 
  --font-butn-span: 'Nunito Sans';
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#logo div{
  position: relative;

}

#logo div img {
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
  align-self: center;
  top: 40px;
  left: 75px;
 /* position: relative; 
  margin-top: 60px;

  display: flex;
    left: 430px
*/  
}

main h2{
  font: 400 2rem var(--font-title-input);
  color: var(--text-title-color);
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 0;
  position: relative;
  text-align: center;
}

.input-field{
  position: relative;
  margin-top: 0;
  margin-bottom: 1rem;

}

.input-field label input{
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  width: 280px;
  height: 100%;

  font: 400 1.2rem var(--font-title-input);
  line-height: 23px;
  color: var(--text-input-color);
  background-color: var(--bg-color);

}

form button[type="submit"]{
  margin-top: 2.43rem;
  width: 250px;
  height: 49px;
  background: var(--butn-color);
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 0;

}
form button[type="submit"]:hover {
  content: '';
  background: var(--butn-color-hover);
}

form .butn button span{
  color: var(--bg-color);
  font: 600 1.2rem var(--font-butn-span);
  line-height: 29px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

form label.terms p{
  margin-top: 1.3rem; 
  font: 600 0.87rem var(--font-butn-span);
  color: var(--text-input-color);
}

label.terms span,
.log-in span{
  font: 400 var(--font-butn-span);
  color: var(--text-span-color);
  text-align: center;
}

.log-in{
  text-align: center;
  padding: 4rem 0;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;

  color: var(--text-input-color);
}

.log-in p a{
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100%;
  cursor: pointer;
}

.footer .log-in p{
  font: 400 0.83rem var(--font-butn-span);
  color: var(--text-input-color);
  margin: 0 ;
}

.footer p {
  font: 400 0.78rem var(--font-butn-span);
  color: var(--text-input-color);
  margin-bottom: 0;
}

.footer .log-in p a{
  font: 400 0.83rem var(--font-butn-span);
  font-weight: bold;
}